mat-card-title{
    background-color:rgb(163, 159, 160) !important;
    padding:5px !important;
  }
  
  mat-card-subtitle{
    background-color:rgb(133, 118, 150) !important;
    padding:5px !important;
  }

  .mat-card-page{
    padding:0 !important;
    width: 640px;
  }
  
  .mat-card-content{
    padding:5px !important;
  }

  tr.NFLPlayerRow:hover {
    background-color: #dca9fa;
    cursor: pointer;
  }

  mat-raised-button  {
    margin-left: 10px;
  }

  
  .player-caption  {
    color:rgb(4, 4, 4);
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: -1.2px;
    word-spacing: 2px;
    -webkit-text-size-adjust: 100%;
  }