<mat-card>
    <mat-card-title>Login/Registration</mat-card-title>            
  </mat-card>

  <br/><br/>

<mat-card class="mat-card-page">
  <mat-card-title>Login</mat-card-title>

  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Your email" [(ngModel)]="loginDto.email">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Password</mat-label>
    <input matInput placeholder="Your password" [(ngModel)]="loginDto.password" type="password">
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="Login(loginDto)">Login</button>

  <div *ngIf="LoginFailedUser===true" class="cross-validation-error-message alert alert-danger">
    <mat-card class="mat-card-error">
        <mat-card-title>Login failed.</mat-card-title>
    </mat-card>
 </div>

</mat-card>


<br/><br/><br/><br/>

<form [formGroup]="signUpForm">
<mat-card class="mat-card-page">
    <mat-card-title>New User Registration</mat-card-title>
  
    <mat-form-field class="example-full-width">
      <mat-label>User Name</mat-label>
      <input matInput placeholder="User Name (no spaces)" [(ngModel)]="registerDto.name" formControlName="Name">
    </mat-form-field>
    <div
        *ngIf="signUpForm.controls.Name.invalid && (signUpForm.controls.Name.dirty || signUpForm.controls.Name.touched)"
    >
        <div *ngIf="signUpForm.controls.Name.errors && signUpForm.controls.Name.errors['required']">
        Name is required.
        </div>
        <div *ngIf="signUpForm.controls.Name.errors && signUpForm.controls.Name.errors['minlength']">
        Name must be at least 5 characters long.
        </div>
        <br><br>
    </div>


    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Your email" [(ngModel)]="registerDto.email" formControlName="Email">
    </mat-form-field>
    <div
    *ngIf="signUpForm.controls.Email.invalid && (signUpForm.controls.Email.dirty || signUpForm.controls.Email.touched)"
    >
        <div *ngIf="signUpForm.controls.Email.errors && signUpForm.controls.Email.errors['required']">
        Email is required.
        </div>
        <div *ngIf="signUpForm.controls.Email.errors && signUpForm.controls.Email.errors['email']">
        Email must be properly formatted.
        </div>
        <br><br>
    </div>
  
    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Your password" [(ngModel)]="registerDto.password" type="password" formControlName="Password">
    </mat-form-field>
    <div
    *ngIf="signUpForm.controls.Password.invalid && (signUpForm.controls.Password.dirty || signUpForm.controls.Password.touched)"
    >
        <div *ngIf="signUpForm.controls.Password.errors && signUpForm.controls.Password.errors['required']">
            Password is required.
        </div>
        <div *ngIf="signUpForm.controls.Password.errors && signUpForm.controls.Password.errors['pattern']">
            Password must contain more than 8 characters, 1 numeric, 1 upper case letter, and 1 special character($@$!%*?&).
        </div>
        <br><br>
    </div>
  
    <mat-form-field class="example-full-width">
        <mat-label>Password Repeated</mat-label>
        <input matInput placeholder="Password repeated" type="password" formControlName="PasswordRepeated">
    </mat-form-field>
    <div
    *ngIf="signUpForm.controls.PasswordRepeated.invalid && (signUpForm.controls.PasswordRepeated.dirty || signUpForm.controls.PasswordRepeated.touched)"
    >
        <div *ngIf="signUpForm.controls.PasswordRepeated.errors && signUpForm.controls.PasswordRepeated.errors['required']">
            Password Repeated is required.
        </div>
        <div *ngIf="signUpForm.controls.PasswordRepeated.errors && signUpForm.controls.PasswordRepeated.errors['pattern']">
            Password must contain more than 8 characters, 1 numeric, 1 upper case letter, and 1 special character($@$!%*?&).
        </div>
        <br><br>
    </div>

    <!--button mat-raised-button color="primary" (click)="Register(registerDto)">Register</button-->
  
    <div *ngIf="signUpForm.errors?.['notmatched'] && (signUpForm.touched || signUpForm.dirty)" class="cross-validation-error-message alert alert-danger">
        Passwords do not match.
        <br><br>
    </div>

    <button mat-raised-button color="primary" type="submit" [disabled]="!signUpForm.valid" (click)="Register(registerDto)">Submit Profile</button>


    <div *ngIf="RegistrationComplete===true" class="cross-validation-error-message alert alert-success">
        <mat-card class="mat-card-content">
            <mat-card-title>Success.  You may now login to your new account.</mat-card-title>
        </mat-card>
    </div>

    <div *ngIf="RegistrationFailedEmail===true" class="cross-validation-error-message alert alert-danger">
      <mat-card class="mat-card-error">
          <mat-card-title>Email is already in use.</mat-card-title>
      </mat-card>
   </div>

    <div *ngIf="RegistrationFailedUser===true" class="cross-validation-error-message alert alert-danger">
      <mat-card class="mat-card-error">
          <mat-card-title>Username is already in use.</mat-card-title>
      </mat-card>
    </div>

  </mat-card>
</form>