<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>

.body {
  background-color: blanchedalmond !important;
}

.content {
    display: flex;

    padding: 0 16px;

    flex-direction: column;
    align-items: center;

  }

  .card {
    all: unset;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: blanchedalmond;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }


  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

  /* Responsive Styles */
  @media screen and (max-width: 767px) {
    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
</style>

<mat-card>
  <mat-card-title>Source Of Magic</mat-card-title>
  <mat-card-subtitle>Login/Registration</mat-card-subtitle>            
</mat-card>

<div class="content" role="main">

  <br/><br/><br/><br/>

<mat-card class="mat-card-page">
  <mat-card-title>Register</mat-card-title>

  <mat-form-field class="example-full-width">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Your name" [(ngModel)]="registerDto.name">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Your email" [(ngModel)]="registerDto.email">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Password</mat-label>
    <input matInput placeholder="Your password" [(ngModel)]="registerDto.password">
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="Register(registerDto)">Register</button>

</mat-card>

<br/><br/><br/><br/>

<mat-card class="mat-card-page">
  <mat-card-title>Login</mat-card-title>

  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Your email" [(ngModel)]="loginDto.email">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Password</mat-label>
    <input matInput placeholder="Your password" [(ngModel)]="loginDto.password">
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="Login(loginDto)">Login</button>

</mat-card>



  <hr>
  <br/><br/><br/><br/>
  <button mat-raised-button color="primary" (click)="GetWeather()">Get Weather</button>

</div>
