<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>

.body {
  background-color: blanchedalmond !important;
}

.content {

    padding: 0 16px;
    align-items: center;
    background-image: url('assets\/footballs.png');
  }

</style>

<mat-card>
  <mat-card-title>Huddle of Heroes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{userName}}</mat-card-title>
</mat-card>

<nav mat-tab-nav-bar [tabPanel]="tabPanel">
  <a mat-tab-link routerLink="/home">Home</a>
  <a mat-tab-link routerLink="/gamelist">Games</a>
  <a mat-tab-link routerLink="/nflplayers">NFL Players</a>
  <a mat-tab-link routerLink="/loginreg">Login</a>
</nav>
<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>

<div class="content" role="main" align="center">
  <img src="assets/SmMerge.webp" >
  <br/><br/>

  <router-outlet></router-outlet>

  <hr>
  <br/><br/><br/><br/>
 


</div>
