<mat-card>
  <mat-card-title>Game Detail</mat-card-title>            
</mat-card>
<br/>

<img src="\assets\MinesofD.webp" width="256px" >

<div *ngIf="!isLoading">
<mat-card class="mat-card-page">


  <div *ngIf="!dataSource.rosterLockInd && !dataSource.invalidInd && !dataSource.finalInd">
    <section class="example-section">
      <div *ngIf="dataSource.heroNextPickInd"><p class="alert alert-success">
      &nbsp;&nbsp;&nbsp;&nbsp;<mat-label>Hero Player has the next roster pick.  </mat-label></p></div>    
    </section>
  </div>
  <div *ngIf="!dataSource.rosterLockInd && !dataSource.invalidInd && !dataSource.finalInd">
    <section class="example-section">
    <div *ngIf="dataSource.heroNextPickInd && dataSource.heroName == this.userName"><p class="alert alert-danger">
      &nbsp;&nbsp;&nbsp;&nbsp;<mat-label>Click on the row in the roster you wish to assign an unassigned player to.  Assignments are final and cannot be edited!</mat-label></p></div>
    </section>
  </div>

  <div *ngIf="!dataSource.rosterLockInd && !dataSource.invalidInd && !dataSource.finalInd">
    <section class="example-section">
      <div *ngIf="!dataSource.heroNextPickInd"><p class="alert alert-success">
      &nbsp;&nbsp;&nbsp;&nbsp;<mat-label>Villain Player has the next roster pick.  </mat-label></p></div>
    </section>
  </div>

  <div *ngIf="!dataSource.rosterLockInd && !dataSource.invalidInd && !dataSource.finalInd">
    <section class="example-section"> 
      <div *ngIf="!dataSource.heroNextPickInd && dataSource.villainName == this.userName"><p class="alert alert-danger">
      &nbsp;&nbsp;&nbsp;&nbsp;<mat-label>Click on the row in the roster you wish to assign an unassigned player to.  Assignments are final and cannot be edited!</mat-label></p></div>
    </section>
  </div>

  <mat-form-field class="example-full-width">
      <mat-label>Game Name</mat-label>
      <input matInput readonly placeholder="" maxlength="64" autocomplete="off" appBlockCopyPaste [(ngModel)]="dataSource.description">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Scenario</mat-label>
    <input matInput readonly placeholder="" maxlength="64" autocomplete="off" appBlockCopyPaste [(ngModel)]="dataSource.scenario">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Hero Player</mat-label>
    <input matInput readonly placeholder="" maxlength="64" autocomplete="off" appBlockCopyPaste [(ngModel)]="dataSource.heroName">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Villain Player</mat-label>
    <input matInput readonly placeholder="" maxlength="64" autocomplete="off" appBlockCopyPaste [(ngModel)]="dataSource.villainName">
  </mat-form-field>

  <section class="example-section">
    &nbsp;
    <mat-checkbox matInput class="example-margin" disabled="true" labelPosition="before" [(ngModel)]="dataSource.rosterLockInd">Roster Lock</mat-checkbox>
    <mat-checkbox matInput class="example-margin" disabled="true" labelPosition="before" [(ngModel)]="dataSource.invalidInd" color="warn">Invalid</mat-checkbox>
    <mat-checkbox matInput class="example-margin" disabled="true" labelPosition="before" [(ngModel)]="dataSource.finalInd">Scoring Final</mat-checkbox>
  </section>


</mat-card>
</div>
<br/>
<button mat-raised-button color="primary" (click)="Cancel()">Return to Game List</button>
<br/><br/>

<table mat-table [dataSource]="rolesDataSource" class="mat-elevation-z8" #mytable>
  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr class="RoleRow" mat-row *matRowDef="let  row; columns: columns;" (click)="editGame(row)"></tr> 
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let t"> {{ t.name }} </td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef >Description</th>
    <td mat-cell *matCellDef="let t">{{ t.description }}</td>
  </ng-container>

  <ng-container matColumnDef="bHero">
    <th mat-header-cell *matHeaderCellDef >Hero?</th>
    <td mat-cell *matCellDef="let t">{{ t.bHero }}</td>
  </ng-container>

  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef >Position</th>
    <td mat-cell *matCellDef="let t">{{ t.position }}</td>
  </ng-container>
  
  <ng-container matColumnDef="imageURL">
    <th mat-header-cell *matHeaderCellDef>Picture</th>
    <td mat-cell *matCellDef="let element"> <img [src]="element.imageURL" height="80px"/> </td>
  </ng-container>

  <ng-container matColumnDef="nflName">
    <th mat-header-cell *matHeaderCellDef>NFL Player</th>
    <td mat-cell *matCellDef="let t"> {{ t.nflName }} </td>
  </ng-container>

  <ng-container matColumnDef="nflImageURL">
    <th mat-header-cell *matHeaderCellDef>NFL Picture</th>
    <td mat-cell *matCellDef="let element"> <img [src]="element.nflImageURL" height="80px"/> </td>
  </ng-container>

  <ng-container matColumnDef="team">
    <th mat-header-cell *matHeaderCellDef>NFL Team</th>
    <td mat-cell *matCellDef="let t"> {{ t.team }} </td>
  </ng-container>

</table>
<br/><br/>
<table mat-table [dataSource]="scoreDataSource" multiTemplateDataRows class="mat-elevation-z8" matSort>
	<ng-container matColumnDef="{{column}}" *ngFor="let column of scoreColumns">
		<th mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </th>
		<td mat-cell *matCellDef="let element"> {{element[column]}} </td>
	</ng-container>

	<!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
	<ng-container matColumnDef="expandedDetail">
		<td mat-cell *matCellDef="let element" [attr.colspan]="scoreColumns.length">
			<div class="example-element-detail" *ngIf="element.roles?.length" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
				<div class="inner-table mat-elevation-z8" *ngIf="expandedElement">
          <table #innerTables mat-table [dataSource]="element.roles" matSort>
            <ng-container matColumnDef="{{innerColumn}}" *ngFor="let innerColumn of innerDisplayedColumns">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{innerColumn}} </th>
              <td mat-cell *matCellDef="let element"> {{element[innerColumn]}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="innerDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: innerDisplayedColumns;"></tr>
          </table>
				</div>
			</div>
		</td>
	</ng-container>


	<tr mat-header-row *matHeaderRowDef="scoreColumns"></tr>
	<tr mat-row *matRowDef="let element; columns: scoreColumns;" [class.example-element-row]="element.addresses?.data.length"
	 [class.example-expanded-row]="expandedElement === element" (click)="toggleRow(element)">
	</tr>
	<tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>

<p>
    <mat-accordion>
        <mat-expansion-panel align="left">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Fool of a Halfling!
            </mat-panel-title>
            <mat-panel-description>
              Piper (LeSean McCoy-RB) &lt; 14 carries (12): <b>Villains gain 4 point bonus!</b>
            </mat-panel-description>
          </mat-expansion-panel-header>
<img src="../..\assets\PiperWell6.webp" alt="PiperWell" width="256px"/>

                <ul>
                <li>Piper accidentally dislodges a stone at the edge of a deep well, risking alerting the Orcs of the mines.</li>
                <li>If Piper (LeSean McCoy-RB) has less than 14 carries then Piper fails to grab the falling stone which alerts the Orcs and gives the Villains a 1 TD (4 point) bonus in all future stages.</li>
                <li>If Piper (LeSean McCoy-RB) has more than 17 carries then Piper catches the stone before it drops and the heroes maintain secrecy, giving them a 1 TD (4 point) bonus.</li>
                <li><b>Result:</b>  LeSean McCoy-RB has 12 carries against LV, so Piper dislodges a large stone which <b>gives the Villains a 1 TD (4 point) bonus in all future stages.</b></li>
                </ul>

            
          

        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Self aware panel
            </mat-panel-title>
            <mat-panel-description>
              Currently I am {{panelOpenState ? 'open' : 'closed'}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>
      </mat-accordion>
</p>
<div *ngIf="isLoading" 
style="display: flex; justify-content: center; align-items: center; background: white;">
<mat-progress-spinner 
 color="primary" 
 mode="indeterminate">
</mat-progress-spinner>
</div>