
  
  mat-card-subtitle{
    background-color:rgb(189, 94, 73) !important;
    padding:5px !important;
  }

  .mat-card-page{
    padding:0 !important;
    width: 640px;
  }
  
  .mat-card-content{
    padding:5px !important;
  }

  tr.NFLPlayerRow:hover {
    background-color: #dca9fa;
    cursor: pointer;
  }

  mat-raised-button  {
    margin-left: 10px;
  }

  mat-card-title {
    background-color: rgb(250, 225, 38) !important;
    padding: 5px !important;
}