<p>{{userName}}!</p>
<figure class="image">
<img src="../assets/map4a.png" alt="background"/>
<figcaption>
<p>Fantasy Football is truly entertaining, but what if you could apply the art of predicting the outcomes
    of NFL games and player performances to an imaginary game other than football?
</p>
<p>Huddle of Heroes allows you to do just that.  Grab a friend and guide the destiny of a fellowship of heroes in a swords and 
    sorcery romp to destroy an evil artifact!  
</p>
<p>Compete in a one week scenario with the winner determined by the NFL players you select.  
    First, do a short player draft with your opponent.  Then assign your players to fantasy archetypes in a swords and sorcery storyline.  Finally, sit back and watch the action unfold on NFL gameday!
    
    </p><p>Pick your favorite quarterback to play the part of Gandorf 
    the Wizard!  If your QB throws three touchdowns or more, enjoy a special "No evil may pass!" bonus!    Adventure awaits!</p>
</figcaption>
</figure>

